@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/* font-family: "Open Sans", sans-serif; */
/* font-family: "Inter", sans-serif;
font-family: "EB Garamond", serif;
font-family: "Lora", serif;
font-family: "Rubik", sans-serif; */
*{
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}
.body{
    min-height: 100vh;
    background-image: url('image.png');
    background-size: cover;
    background-repeat: no-repeat;  
    background-position: center;
    transition: all 0.35s;
}
input{
    position: absolute;
    top: 50%;
    left: 40%;
    width: 300px;
    height: 40px;
    border-radius: 17px;
    border: none;
    font-size: 18px;
    color: rgb(0, 0, 0);
    padding: 0px 10px;
    background-color: rgb(255, 255, 255);
    transition: all 0.3s ease-in-out;
}
input::placeholder{
    color: rgb(0, 89, 119);
    font-size: 16px;   
    transition: all 0.4s ease-in-out 100ms;
}
input:focus::placeholder{
    transition: 0.3s;
    color: black;
    font-size: 10px;
    translate: 3px -8px;
    transition: all 0.35s ease-in-out;
}
.weather{
    position: absolute;
    font-family: "Lora", serif;
    font-weight: 600;
    top: 10%;
    left: 41%;
    font-size: 80px;
    margin: 0;
    color: rgb(255, 255, 255);
    transition: all 0.6s ease-in-out 100ms;
}
.result{
    position: absolute;
    top: 20%;
    left: 10%;
    width: 80%;
    height: 70%;
}
.disable{
    display: none;
}
#btn{
    position: absolute;
    top: 50%;
    left: 61vw;
    padding: 12px 20px;
    border-radius: 20px;
    border: none;
    background-color:rgb(32, 32, 32) ;
    font-weight: 700;
    color: rgb(133, 133, 133);
    transition: all 0.3s ease-in-out;
}
#btn:hover{
    background-image: linear-gradient(to bottom,rgb(10, 26, 255) ,rgb(37, 209, 252));
    background-size: cover;
    background-position: center;
    background-blend-mode:difference;
    background-repeat: no-repeat;
    color: white;
    scale: 1.04;
    transition: all 0.5s ease-in-out;
}

#btn:active{
    translate: 0px 2px;
    transition: all 0.1s ease-in-out;
}
#btn i{
    transition: all 0.4s ease-in-out;
    padding: 0;
    margin-right: 8px;
}
.show{
    top: 3%;
    left: 5%;
    font-size: 80px;
    margin: 0px;
    font-size: 36px;
    color: white;
    position: absolute;
    transition: 0.6s;
    font-family: "Lora", serif;
}

.card{
    position: absolute;
    color: white;
    top: 18%;
    left: 10%;
    width: 80%;
    height: 75%;
    background-color: hsla(0, 0%, 0%, 0.274);
    font-size: 25px;
    border-radius: 20px;
    padding: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-transform: capitalize;
}
.card::after{
    content: '';
    position: absolute;
    inset: -10px;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    padding: 10px;
    opacity: 0.4;
    z-index: -1;
    border: 2px solid rgb(10, 10, 10);
    box-shadow: 0px 0px 12px black;
    background-color: transparent;
    filter: blur(3px);
}
.left{
    display: flex;
    flex-direction: column;
    overflow-x:scroll;
    justify-content: space-evenly;
    padding-left: 25px;
}
::-webkit-scrollbar{
    display: none;
    padding: 1px;
    background-color: transparent;
}
.left .loc{
    font-family: "Rubik", sans-serif;
    font-size: 60px;
    font-weight: 800;

}
.left .smallerloc{
    font-size: 37px;
}
.left .date{
    font-family: "Lora", serif;
    font-weight: 700;
}
.left .temper{
    font-size: 100px;
    font-family: "Lora", serif;
}
.hot{
    width: 90px;
    height: 90px;
    background-size: cover;
    margin-left:30px;
    
}
.right{
    display: flex;
    flex-direction: column;
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    background-color:  hsla(0, 0%, 100%, 0.214);
    border-radius: 20px;
    padding: 20px 40px;
    justify-content: space-around;
}
.right h3:hover{
    translate: 60px 0px;
}
.right h3{
    font-family: "Lora", serif;
    font-weight: 800;;
}
.icons{
    background-size: cover;
    width: 100px;
    height: 100px;
    margin-left: 20px;
}



@media (max-width:700px) and (min-width:300px){
    input{
        position: absolute;
        top: 50%;
        left: 7%; 
        width: 200px;
    }
    input::placeholder{
        font-size: 14px;
    }
    #btn{
        position: absolute;
        top: 50%;
        left: calc(200px + 10%);
    }  
    .weather{
        left: 8%;
        top: 20%;
    }
    .card{
        top: 19%;
        left: 10%;
        width: 80%;
        height: 25%;
        padding: 15px;
        font-size: 10px;
    }
    .left{
        padding-left: 5px;
    }
    .left .loc{
        font-size: 16px;
    } 
     .left .temper{
        font-size: 25px;
    }
    .hot{
        width: 20px;
        height: 20px;
        background-size: cover;
        margin-left: 8px ;
    }

    .left .date{
        margin: 2px 0px;
    }
    .right{
        font-family: "Rubik", sans-serif;
        font-size: 7px;
        border-radius: 12px;
        padding: 5px 10px 0px 20px;
    }
    .icons{
        margin-left: 10px;
        width: 40px;
        height: 40px;
    }
}
 @media (max-width:1500px) and (min-width:701px){
    input{
        position: absolute;
        top: 50%;
        left: 30%; 
        width: 200px;
    }
    input::placeholder{
        font-size: 14px;
    }
    #btn{
        position: absolute;
        top: 50%;
        left: calc(200px + 33%);
    }  
    .weather{
        left: 28%;
        top: 20%;
    }
    .card{
        top: 19%;
        left: 10%;
        width: 80%;
        height: 36%;
        padding: 15px;
        font-size: 10px;

    }
    .left{
        padding-left: 20px;
    }
    .left .loc{
        font-size: 30px;
    } 
    
     .left .temper{
        font-size: 40px;
    }
    .hot{
        width: 40px;
        height: 40px;
        background-size: cover;
        margin-left: 23px ;
    }

    .left .date{
        font-size: 20px;
        margin: 2px 0px;
    }
    .right{
        font-family: "Rubik", sans-serif;
        font-size: 16px;
        border-radius: 12px;
        padding: 5px 10px 0px 20px;
    }
    .icons{
        margin-left: 10px;
        width: 60px;
        height: 60px;
    }
} 